<section id="home">
	<article>
		<h2 class="title">Home</h2>
		<hr>
		<p class="home-content">
			We're excited to have you here.<br>
			Dive into the world of Transcendence, a dedicated space for gaming enthusiasts and competitors.<br>
			Push your limits with our interactive Pong game, challenge your friends in thrilling tournaments, and explore our social community.<br>
			Get ready to experience a unique blend of competition and camaraderie.
			Discover what we have in store for you!
		</p>
	</article>
</section>