<section id="pong" class="chatSection">
	<article id="articleContentContainer" class="tournamentArticle">
		<h2>Tournament</h2>
		<hr>
		<div class="tournamentContainer">
			<div class="tournamentHeader">
				<h3>Users invited :</h3>
			</div>
			<div class="tournamentBody">
				<ul id="tournamentUsersUl" class="tournamentUsers">
				</ul>
			</div>
			<div class="tournamentFooter">
				<button id="btnLaunchTournament" class="btnTournament" disabled>Launch the tournament !</button>
			</div>
		</div>
	</article>
	<article id="listOfUsersArticle" class="tournamentArticle">
		<h2>List of users</h2>
		<hr>
		<ul id="listOfUsersUl" class="user-list-chat">
		</ul>
	</article>
	<div class="gameContainer" style="display:none;" id="gameContainer">
	</div>
</section>
